@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");

body {
  background: linear-gradient(#aed4ff, #e66465);
}

#body {
  height: 100vh;
  background-image: url("./images/kiki's\ delivery\ service\ anime\ wallpaper.jpg");
  opacity: 0.8;
  font-family: "Play", sans-serif;
}

#body h1 {
  display: flex;
  justify-content: center;
  margin-top: 1rem auto;
  animation: neon 2s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 10px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 20px #ef00e3a8,
      0 0 20px #ef00e3a8, 0 0 2px #fed128, 2px 2px 2px #806914;
    color: #f5efcb;
  }
  50% {
    text-shadow: 0 0 2px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b,
      0 0 5px #800e0b, 0 0 2px #800e0b, 4px 4px 2px #40340a;
    color: #eda0d3;
  }
}

#image-gallery {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.main-image {
  display: flex;
  justify-content: center;
  max-height: 500px;
}
img {
  max-width: 600px;
  max-height: 600px;
}

#image-thumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.thumb {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px;
  cursor: pointer;
}
